<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <h1>Estou na minha página artigos</h1>
    <form id="signup-form"">
        <input type=" text" name="nome" id="nome" placeholder="nome">
        <input type="text" name="idade" id="idade" placeholder="idade">
        <input type="text" name="peso" id="peso" placeholder="peso">
        <button id="enviar">Enviar</button>
    </form>
</body>

<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/jquery-form.js"></script>
<script>
    // var form = document.querySelector('#signup-form')
    $('#enviar').click(function () {
        $('#signup-form').ajaxForm({
            url: '/salvar_artigo',
            type: 'post',
            success: function (data) {
                console.log('salvou: ', data);
            }
        }).submit();
    })

    // form.addEventListener('submit', (event) => {

    //     // disable default action
    //     event.preventDefault();

    //     // make post request
    //     fetch('salvar_artigo', {
    //             method: 'POST',
    //             body: new FormData(form),
    //             headers: {
    //                 'Content-Type': 'application/x-www-form-urlencoded'
    //             }
    //         })
    //         .then(res => res.text())
    //         .then(html => console.log(html))
    //         .catch(err => console.error(err));
    // });

    // form.addEventListener('submit', (event) => {

    //     // disable default action
    //     event.preventDefault();

    //     // configure a request
    //     const xhr = new XMLHttpRequest();
    //     xhr.open('POST', '/salvar_artigo');

    //     // prepare form data
    //     let data = new FormData(form);
    //     console.log('ddados: ', data)

    //     // set headers
    //     xhr.setRequestHeader('Content-Type', 'application/json');
    //     xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

    //     // send request
    //     xhr.send(data);

    //     // listen for `load` event
    //     xhr.onload = () => {
    //         console.log(xhr.responseText);
    //     }

    // });
</script>

</html>