<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <h1><%=data.mensagem%></h1>
    <p id="demo"></p>
    <button onclick="loadXMLDoc()">Enviar</button>
</body>

<script src="../public/js/jquery-form.js"></script>
<script>
    function loadXMLDoc() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("demo").innerHTML =
                    this.responseText;
                    console.log(this.responseText);
            }
        };
        xhttp.open("GET", "/dados", true);
        xhttp.send();
    }
</script>


</html>